/ConsolasExitoG61.App/ConsolasExitoG61.App.Consola/bin
/ConsolasExitoG61.App/ConsolasExitoG61.App.Consola/obj
/ConsolasExitoG61.App/ConsolasExitoG61.App.Dominio/bin
/ConsolasExitoG61.App/ConsolasExitoG61.App.Dominio/obj
/ConsolasExitoG61.App/ConsolasExitoG61.App.Persistencia/bin
/ConsolasExitoG61.App/ConsolasExitoG61.App.Persistencia/obj
/ConsolasExitoG61.App/ConsolasExitoG61.App.Presentacion/bin
/ConsolasExitoG61.App/ConsolasExitoG61.App.Presentacion/obj